Repository DataMedSci/mcpartools, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, infra, dependencies, feature

Updated readme
  README.md
  README.rst
Labels: docs, feature

Fixed PR Automation
  .github/workflows/pr-automation.yml
Labels: infra, feature

Fixed PR Automation (#494)
  .github/workflows/pr-automation.yml
Labels: infra, feature

Removed polish comments
  .pre-commit-config.yaml
Labels: feature

Setup for pre-commit hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: infra, dependencies, feature

Formatting
  make_single_executable.sh
Labels: feature

Formatting
  .flake8
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
Labels: dependencies, feature

Fix CI
  .github/workflows/ci.yml
Labels: infra, feature

Updated readme (#491)
  README.md
  README.rst
Labels: docs, feature

Setup for pre-commit hooks (#486)
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  MANIFEST.in
  make_single_executable.sh
  pyproject.toml
Labels: infra, dependencies, feature

Changed docs strategy
  .github/workflows/docs.yml
  docs/conf.py
Labels: docs, infra, feature

Migrate documentation to github pages
  .github/workflows/docs.yml
  docs/conf.py
  pyproject.toml
Labels: docs, infra, dependencies, feature

Ussed env.url to deploy to pages
  .github/workflows/docs.yml
Labels: infra, feature

Fix deepsource
  docs/conf.py
Labels: docs

Split generating docs to two jobs
  .github/workflows/docs.yml
Labels: infra, feature

Split generating docs to two jobs
  .github/workflows/docs.yml
Labels: infra, feature

Fix
  docs/conf.py
Labels: docs

Migrate documentation to github pages (#484)
  .github/workflows/docs.yml
  docs/conf.py
  pyproject.toml
Labels: docs, infra, dependencies, feature

Refactor release workflow for clarity and organization
  .github/workflows/release.yml
Labels: infra, feature

Refactor publish job in release workflow for clarity and correctness
  .github/workflows/release.yml
Labels: infra, feature

Simplify documentation build steps by removing unnecessary shell declarations
  .github/workflows/docs.yml
Labels: infra, feature

Remove unnecessary argument from documentation build step for clarity
  .github/workflows/docs.yml
Labels: infra, feature

Update .github/workflows/release.yml
  .github/workflows/release.yml
Labels: infra, feature

Refactor release workflow for clarity and organization (#499)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: infra, feature

Refactor release workflow: remove Python setup step and add upload release assets step
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: infra, feature

Remove commented-out step for copying latest release docs and rename upload step in release workflow
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: infra, feature

Refactor release workflow: remove Python setup step and add upload re… (#500)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: infra, feature

Refactor release workflow: streamline installation and artifact handling steps
  .github/workflows/release.yml
Labels: infra, feature

Replace pkg_resources with importlib APIs; fix artifact version mismatch; drop pytest-catchlog (#527)
  .deepsource.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/conf.py
  mcpartools/mcengine/fluka.py
  mcpartools/mcengine/shieldhit.py
  mcpartools/scheduler/base.py
  pyproject.toml
Labels: docs, infra, dependencies, feature

.github/labeler.yml:

docs:
  - changed-files:
    - any-glob-to-any-file:
        - 'docs/**'
        - '**/*.rst'
        - '**/*.md'

infra:
  - changed-files:
    - any-glob-to-any-file:
        - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
        - 'pyproject.toml'

feature:
  - changed-files:
    - any-glob-to-any-file:
        - 'mcpartools/**'
        - '!docs/**'
