Repository DataMedSci/mcpartools, pull requests merged in 2025-06, with the labels that each got.

#486 Setup for pre-commit hooks
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  MANIFEST.in
  make_single_executable.sh
  pyproject.toml
Labels: dependencies, infra, feature, size/M

#499 Refactor release workflow for clarity and organization
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: size/L, infra, feature

#500 Refactor release workflow: remove Python setup step and add upload re…
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: infra, feature, size/S
